* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#main-nav {
    display: flex;
    background-color: white;
    width: 100%;
    height: 10vh;
    position: relative;
}

.logo-div {
    display: inline-block;
    height: 100%;
    left: 10vw;
    margin-left: 10vh;
    margin-right: 3vw;
}

#logo-img {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 100px;
}

.nav {
    display: inline-block;
    height: 100%;
}

.nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li {
    list-style: none;
    padding-right: 2vw;
}

.login-div {
    display: flex;
    height: 100%;
    margin: 0 10vh 0 auto;
    justify-content: center;
    align-items: center;
}

.login-div a {
    padding: 3vh 3vh;
    text-decoration: none;
}

.login-div .register {
    background-color: rgb(0, 101, 255);
    color: white;
}

#main {
    padding-top: 10vh;
    background-image: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
}