<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrelloClone</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

    <header id="header">

        <div id="main-nav">
            <div class="logo-div">
                <a class="logo-link"><img src="../img/trello-logo-gradient-blue-attribution_rgb@2x (1).png" alt="logo" id="logo-img"></a>
            </div>
    
            <nav class="nav">
                <ul>
                    <li>Recursos</li>
                    <li>Soluções</li>
                    <li>Planos</li>
                    <li>Preços</li>
                    <li>Recursos</li>
                </ul>
            </nav>
    
            <div class="login-div">
                <a href="#" class="login">Entrar</a>
                <a href="./signUp.html" class="register">Obtenha o Trello grátis</a>
            </div>
        </div>

        <div class="nav-details">

        </div>

    </header>

    <div id="main">

        <div id="section1">

            <div class="description">
                <h1>O Trello reúne as tarefas, colegas de equipe e ferramentas</h1>
                <h2>Mantenha tudo em um só lugar, mesmo se o time for distribuído</h2>
            </div>
            <form>
                <input type="email" placeholder="E-mail">
                <a href="#" class="register"></a>
            </form>
            <span>
                <a>Assista ao vídeo</a>
                <span>></span>
            </span>
        
        </div>

    </div>

</body>
</html>